body {
  display: flex;
  flex-direction: column;
  max-height: 80vh;
  text-align: center;
}

body .holygrail-body {
  flex: 1 0 auto;
  display: flex;
}

body .holygrail-body .content {
  flex: 1 0 400px;
  background: white;
  height: 500px;
}

body .holygrail-body .nav {
  width: 100px; 
  list-style: none;
  text-align: left;
  order: -1;
  background: rgb(235, 235, 235, 0.966);
  margin: 0;
}

body .holygrail-body .aside {
  width: 100px;
  background: rgb(235, 235, 235, 0.966);
}

body .footer {
  width: 100%;
  height: 60px;
  background: rgba(235, 235, 235, 0.966);
}

@media (max-width: 700px) {
  body .holygrail-body {
    flex-direction: column;
  }

  body .holygrail-body .nav,
  body .holygrail-body .aside {
    width: 100%;
  }
}